<div class="mat-app-background basic-container">
  <div class="example-container">
    <div>Result</div>
    <div [innerHTML]="value"></div>
    <div>HTML</div>
    <div>{{value}}</div>

    <div>Editor</div>
    <mat-form-field>
      <mat-ngx-wig [formControl]="editorControl"
                   buttons="list1,list2,bold,italic,underline"
                   [(ngModel)]="value"
                   placeholder="Placeholder for editor">
      </mat-ngx-wig>

      <mat-error>
        Field is required
      </mat-error>

      <mat-hint>
        Test hint
      </mat-hint>
    </mat-form-field>
  </div>
</div>
